body html * {
    margin : 0;
    padding : 0;
}

.container-fluid {
    margin : 0;
    padding : 0;
}


 #conversation {
        width: 300px;
        height: 400px;
        border: black 1px solid;
        background-color: #efecca;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 5px;
        margin-left: 10px;
      }
      fieldset {
        width: 330px;
        background-color: #e6e2af;
        border: black 1px solid;
      }

      row{
          margin:0;
          padding:0;
          width: 100%;
      }

      .head {
          height: 8em;
          width: 100%;
          left:-2em;
          margin: 0;
          background-color: #F73200;
      }

      .head > div:first-child {
         margin-top:2em;
      }

      .head img {
          position: absolute;
          width: 45%;
          height: auto;
          top: 0.5em;
          right: 2em;
          z-index: 3;
      }

      .leftbutton {
          background-color: black;
          width: 10em;
      }
      .rightbutton {
          background-color: black;
      }


      .bouton{
        background:#F73200;
        border-radius:50%;
        width:20px;
        height:20px;
        margin: 8em;
        left: 1em;
      }

      .film {
          background-image:url('/img/film.jpg');
          background-size: cover;
          height:16em;
          padding:0;
          margin:
      }

      .film > a > div {
          color:white;
          position:absolute;
          bottom:0;
          width: 100%;
          background-color:rgba(0,0,0,0.8);
      }

      .film > a > div > p {
          font-size:2em;
          text-align:center;
      }

      .mignature > img {
          width: 20%;
          height: auto;
      }
